.link {
	text-decoration: underline;
}
.link:hover {
	text-decoration: underline;
	color:blue;
	cursor: pointer;
}

.link_no_checked {
	text-decoration: underline;
	color:gray;
}
.link_no_checked:hover {
	text-decoration: underline;
	color:blue;
	cursor: pointer;
}

.link_checked {
	text-decoration: underline;
	font-weight:bold;
}
.link_checked:hover {
	text-decoration: underline;
	font-weight:bold;
	color:blue;
	cursor: pointer;
}

DIV.gridbox_justep .odd_justep {
	background-color: transparent;
}	
