.icon-system-android,
.icon-system-plus,
.icon-system-minus,
.icon-system-appstore,
.icon-system-windows,
.icon-system-left,
.icon-system-up,
.icon-system-right,
.icon-system-down,
.icon-system-home,
.icon-system-pause,
.icon-system-stop,
.icon-system-up-dir,
.icon-system-play,
.icon-system-right-dir,
.icon-system-down-dir,
.icon-system-left-dir,
.icon-system-star,
.icon-system-star-empty,
.icon-system-check,
.icon-system-th-list,
.icon-system-menu,
.icon-system-heart-empty,
.icon-system-heart,
.icon-system-layout,
.icon-system-attention,
.icon-system-mail,
.icon-system-pencil,
.icon-system-ok,
.icon-system-cancel,
.icon-system-plus-circle,
.icon-system-minus-circle,
.icon-system-forward,
.icon-system-trash,
.icon-system-eye,
.icon-system-edit-alt,
.icon-system-config,
.icon-system-user-add,
.icon-system-help-circled,
.icon-system-reply,
.icon-system-reply-all,
.icon-system-export,
.icon-system-print,
.icon-system-vcard,
.icon-system-location,
.icon-system-archive,
.icon-system-login,
.icon-system-logout,
.icon-system-popup,
.icon-system-window,
.icon-system-chart-pie,
.icon-system-down-open,
.icon-system-left-open,
.icon-system-right-open,
.icon-system-up-open,
.icon-system-refresh,
.icon-system-flow-tree,
.icon-system-gauge,
.icon-system-check-empty,
.icon-system-sort,
.icon-system-sitemap,
.icon-system-angle-double-left,
.icon-system-angle-double-right,
.icon-system-angle-double-up,
.icon-system-angle-double-down,
.icon-system-angle-left,
.icon-system-angle-right,
.icon-system-angle-up,
.icon-system-angle-down,
.icon-system-desktop,
.icon-system-laptop,
.icon-system-tablet,
.icon-system-mobile,
.icon-system-user,
.icon-system-users,
.icon-system-floppy,
.icon-system-folder,
.icon-system-calendar,
.icon-system-chart-line,
.icon-system-chart-bar,
.icon-system-pin,
.icon-system-attach,
.icon-system-phone,
.icon-system-upload,
.icon-system-download,
.icon-system-box,
.icon-system-camera,
.icon-system-search,
.icon-system-key,
.icon-system-lock,
.icon-system-lock-open,
.icon-system-back,
.icon-system-chart-area,
.icon-system-clock {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("./img/fontello.png");
  background-repeat: no-repeat;
}

.white-icon {
  background-image: url("./img/fontello-white.png");
}

.gray-icon {
  background-image: url("./img/fontello-gray.png");
}


.xui-button.button-blue button .icon,
.xui-button.button-purple button .icon,
.xui-button.button-hotpink button .icon,
.xui-button.button-darkcyan button .icon,
.xui-button.button-yellow button .icon,
.xui-button.button-green button  .icon,
.xui-button.button-orange button .icon {
	background-image: url("./img/fontello-white.png");
}

.xui-button button[disabled] .icon,
.xui-button a[disabled] .icon,
.menuButton a[disabled] .icon {
	background-image: url("./img/fontello-gray.png");
}

.icon-system-android {
	background-position: 0px 0px;
}
.icon-system-plus {
	background-position: -24px 0px;
}
.icon-system-minus {
	background-position: -48px 0px;
}
.icon-system-appstore {
	background-position: -72px 0px;
}
.icon-system-windows {
	background-position: -96px 0px;
}
.icon-system-left {
	background-position: -120px 0px;
}
.icon-system-up {
	background-position: -144px 0px;
}
.icon-system-right {
	background-position: -168px 0px;
}
.icon-system-down {
	background-position: -192px 0px;
}
.icon-system-home {
	background-position: -216px 0px;
}
.icon-system-pause {
	background-position: -240px 0px;
}
.icon-system-stop {
	background-position: -264px 0px;
}
.icon-system-up-dir {
	background-position: -288px 0px;
}
.icon-system-play {
	background-position: -312px 0px;
}
.icon-system-right-dir {
	background-position: -336px 0px;
}
.icon-system-down-dir {
	background-position: -360px 0px;
}
.icon-system-left-dir {
	background-position: -384px 0px;
}
.icon-system-star {
	background-position: -408px 0px;
}
.icon-system-star-empty {
	background-position: -432px 0px;
}
.icon-system-check {
	background-position: -456px 0px;
}
.icon-system-th-list {
	background-position: 0px -24px;
}
.icon-system-menu {
	background-position: -24px -24px;
}
.icon-system-heart-empty {
	background-position: -48px -24px;
}
.icon-system-heart {
	background-position: -72px -24px;
}
.icon-system-layout {
	background-position: -96px -24px;
}
.icon-system-attention {
	background-position: -120px -24px;
}
.icon-system-mail {
	background-position: -144px -24px;
}
.icon-system-pencil {
	background-position: -168px -24px;
}
.icon-system-ok {
	background-position: -192px -24px;
}
.icon-system-cancel {
	background-position: -216px -24px;
}
.icon-system-plus-circle {
	background-position: -240px -24px;
}
.icon-system-minus-circle {
	background-position: -264px -24px;
}
.icon-system-forward {
	background-position: -288px -24px;
}
.icon-system-trash {
	background-position: -312px -24px;
}
.icon-system-eye {
	background-position: -336px -24px;
}
.icon-system-edit-alt {
	background-position: -360px -24px;
}
.icon-system-config {
	background-position: -384px -24px;
}
.icon-system-user-add {
	background-position: -408px -24px;
}
.icon-system-help-circled {
	background-position: -432px -24px;
}
.icon-system-reply {
	background-position: -456px -24px;
}
.icon-system-reply-all {
	background-position: 0px -48px;
}
.icon-system-export {
	background-position: -24px -48px;
}
.icon-system-print {
	background-position: -48px -48px;
}
.icon-system-vcard {
	background-position: -72px -48px;
}
.icon-system-location {
	background-position: -96px -48px;
}
.icon-system-archive {
	background-position: -120px -48px;
}
.icon-system-login {
	background-position: -144px -48px;
}
.icon-system-logout {
	background-position: -168px -48px;
}
.icon-system-popup {
	background-position: -192px -48px;
}
.icon-system-window {
	background-position: -216px -48px;
}
.icon-system-chart-pie {
	background-position: -240px -48px;
}
.icon-system-down-open {
	background-position: -264px -48px;
}
.icon-system-left-open {
	background-position: -288px -48px;
}
.icon-system-right-open {
	background-position: -312px -48px;
}
.icon-system-up-open {
	background-position: -336px -48px;
}
.icon-system-refresh {
	background-position: -360px -48px;
}
.icon-system-flow-tree {
	background-position: -384px -48px;
}
.icon-system-gauge {
	background-position: -408px -48px;
}
.icon-system-check-empty {
	background-position: -432px -48px;
}
.icon-system-sort {
	background-position: -456px -48px;
}
.icon-system-sitemap {
	background-position: 0px -72px;
}
.icon-system-angle-double-left {
	background-position: -24px -72px;
}
.icon-system-angle-double-right {
	background-position: -48px -72px;
}
.icon-system-angle-double-up {
	background-position: -72px -72px;
}
.icon-system-angle-double-down {
	background-position: -96px -72px;
}
.icon-system-angle-left {
	background-position: -120px -72px;
}
.icon-system-angle-right {
	background-position: -144px -72px;
}
.icon-system-angle-up {
	background-position: -168px -72px;
}
.icon-system-angle-down {
	background-position: -192px -72px;
}
.icon-system-desktop {
	background-position: -216px -72px;
}
.icon-system-laptop {
	background-position: -240px -72px;
}
.icon-system-tablet {
	background-position: -264px -72px;
}
.icon-system-mobile {
	background-position: -288px -72px;
}
.icon-system-user {
	background-position: -312px -72px;
}
.icon-system-users {
	background-position: -336px -72px;
}
.icon-system-floppy {
	background-position: -360px -72px;
}
.icon-system-folder {
	background-position: -384px -72px;
}
.icon-system-calendar {
	background-position: -408px -72px;
}
.icon-system-chart-line {
	background-position: -432px -72px;
}
.icon-system-chart-bar {
	background-position: -456px -72px;
}
.icon-system-pin {
	background-position: 0px -96px;
}
.icon-system-attach {
	background-position: -24px -96px;
}
.icon-system-phone {
	background-position: -48px -96px;
}
.icon-system-upload {
	background-position: -72px -96px;
}
.icon-system-download {
	background-position: -96px -96px;
}
.icon-system-box {
	background-position: -120px -96px;
}
.icon-system-camera {
	background-position: -144px -96px;
}
.icon-system-search {
	background-position: -168px -96px;
}
.icon-system-key {
	background-position: -192px -96px;
}
.icon-system-lock {
	background-position: -216px -96px;
}
.icon-system-lock-open {
	background-position: -240px -96px;
}
.icon-system-back {
	background-position: -264px -96px;
}
.icon-system-chart-area {
	background-position: -288px -96px;
}
.icon-system-clock {
	background-position: -312px -96px;
}