.login{
	margin: 0 20px 0 20px;
}
.login .message{
	height: 16px;
}
.login .error{
	color: #B94A48;
	background-color: #F2DEDE;
	border: 1px solid #EED3D7;
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
}

.login label{
	font-weight: bold;
	color: #333;
	width: 80px;
	float: left;
	margin-right: 20px;
	padding-top: 9px;
	text-align: right;
}

.login .pwd, 
.login .name {
	margin-bottom: 10px;
	border: 1px #C4C4C4 solid;
	width: 200px;
	padding: 5px;
	display: block;
	font-size: 18px;
}

.login .pwd{
	letter-spacing: 5px;
}

.login .error {
	border: 2px red solid;
}

.login .empty{
	color: #C4C4C4;
}

.login .loginBtn {
	margin: 16px 0 0 100px;
	text-decoration: none;
	display: inline-block;
	padding: 7px 18px;
	color: white;
	background: #09F;
	font-size: 16px;
	font-weight: bold;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}