.xui-orgTree{
	width:320px;
	height:480px;
}

.xui-orgTree-div{
   padding:0;
   margin:0;
   border:0;
}

.xui-orgTree-div-content{
   position:relative;
   margin:0px;
   padding:0px;
   width:100%;
   height:100%;
}