/* 修正IE6振动bug */
* html,* html body {background-image:url(about:blank);background-attachment:fixed;}

/* 修改IE6 fixed bug */
#header, #footer, #content_loading {position:absolute;}
#header {position:absolute;bottom:auto;top:expression(eval((document.compatMode && document.compatMode=='CSS1Compat') ? 
    documentElement.scrollTop + 0 : 
    document.body.scrollTop + 0));
}
#footer {position:absolute;bottom:auto;top:expression(eval((document.compatMode && document.compatMode=='CSS1Compat') ?
    documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight - (parseInt(this.currentStyle.marginTop,10)||0) - (parseInt(this.currentStyle.marginBottom,10)||0) :
    document.body.scrollTop + document.body.clientHeight - this.offsetHeight - (parseInt(this.currentStyle.marginTop,10)||0) - (parseInt(this.currentStyle.marginBottom,10)||0)));
}

/* 修正IE6样式兼容问题 - 头背景 */
#header_bg,#header_bg_mask, #header_bg_left, #header_bg_right {height:80px;}
#header_right {margin-right:10px;}

/* 修正IE6样式兼容问题 - 标签页 */
#main_nav li.hover div {margin-top:-20px;}
#main_nav_more_btn dd ul {margin-bottom:0px;}
#main_nav_more_btn dd ul li {height:26px;line-height:26px;}
#main_nav_more_btn dd ul li.hover {margin-bottom:-2px;}

/* 修正IE6样式兼容问题 - 布局 */
.jsplit_top_split{display:none;}

/* 修正IE6样式兼容问题 - 功能树分割条高度 */
.jsplit_left_client {height: expression(eval(window._functree_height_ = this.clientHeight) ? "auto":"auto");}
.jsplit_left_split {height: expression(window._functree_height_);}

#options_general_nav li{width:100px;}

#functree_owner .functree dl.accordion dt {white-space:normal}
