.buttonBar {
	margin: 5px 0;
	padding: 0;
	border: none;
	min-width: 30px;
	min-height: 24px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
}

.buttonBar >ul {
	list-style: none;
	margin: 5px 0;
	padding: 0;
	border: none;
	font-size: 0px;
	
}

.buttonBar >ul >li {
	list-style: none;
	padding: 0;
	margin: 0;
	border: none;
	font-size: 12px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}

.buttonBar .space {
	font-size: 0;
	margin: 0 8px;
	color: #CCC;	
}
.buttonBar >.sep-line >.space {
	font-size: 13px;
}
/*
.buttonBar td.xxf-value {
	text-align: center;
}

.buttonBar .xforms-trigger-label {
	text-align: center;
}
*/