.xui-borderlayout-root {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.xui-borderlayout-root2 {
	position: relative;
	overflow: hidden;
}

.xui-borderlayout-area {
	position: absolute;
	overflow: hidden;
}

.xui-borderlayout-top {
	top: 0;
	left: 0;
}

.xui-borderlayout-left {
	left: 0;
}

.xui-borderlayout-right {
	right: 0;
}

.xui-borderlayout-bottom {
	left: 0;
	bottom: 0;
}

.xui-borderlayout-center {

}


/**

.xui-borderlayout-border {
	position: absolute;
	background-color: white;
}

.xui-borderlayout-border-top {
	top: 95px;
	left: 0;
	width: 100%;
	height: 5px;
}

.xui-borderlayout-border-left {
	top: 100px;
	left: 95px;
	width: 0;
	height: 100px;
}

.xui-borderlayout-border-right {
	top: 100px;
	right: 150px;
	width: 0;
	height: 100px;
}

.xui-borderlayout-border-bottom {
	bottom: 150px;
	left: 0;
	width: 100%;
	height: 0;
}

**/