.xui-collapsePanel-div-title, .xui-collapsePanel-div-title div {
	background-color:#C9D6E6;
	font-weight:bold;
	font-family:Arial;
	color:#000000;
	padding-left:4px;
	padding-right:4px;
}
.xui-collapsePanel-div-content {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:1px solid #C9D6E6;
	min-height: 12px;
}

.xui-collapsePanel-img {
	float:right;
	margin-top:3px;
	width:16px;
}

.xui-collapsePanel .xui-collapsePanel-div-title{
	height:24px;
	line-height:24px;
}

.xui-collapsePanel-m .xui-collapsePanel-div-title{
	line-height:32px;
	height:32px;
}
