.portletTable {
	font-size: 12px;
	color: #000000;
	border: none;
	border-spacing: 0px;
	margin: 0;
	padding: 0px;
	width: 100%;
	overflow: hidden;
	table-layout: fixed;
	font-family: "宋体";
}
.portletTable tr {
	height: 14px;
}
.portletTable tr td a {			
	font-size:12px;
	color:#1f3a87;
	white-space: nowrap;
	text-decoration: none;
	display: block;
	width: 100%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-family: "宋体";
}
.portletTable tr td a:hover {
	text-decoration:underline;
	color:#0A73E9;
	font-size:12px;
}
.portletTable tfoot tr td {
	text-align: right;
	font-weight: bold;
}
